.tweet {
  background: blue;
  height: 300px;
  width: 200px;
  left: 300px;
  border: 2px solid black;
  /*align-items: center;*/
}

.app {
  background: #DBDBDB;
  height: 1000px;
  display: flex;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 200px; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}